MYSQL_DATABASE=yesulin
MYSQL_USER=yesulin
MYSQL_PASSWORD=change-me-local
MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_PORT=3307

SPRING_PROFILES_ACTIVE=local
DB_HOST=localhost
DB_PORT=3307
DB_NAME=yesulin
DB_USERNAME=yesulin
DB_PASSWORD=change-me-local
